.BigCard{
    height: 14em;
    width: 90vw;
    border: 5px solid rgb(64, 152, 219);
    margin-top: 2rem;
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin-bottom: 3rem;
    border-bottom-color: transparent;
    border-right: transparent;
    color: rgb(40, 40, 40);;
}

.logoAndTitle{
    display: flex;
    justify-content: start;
    margin-bottom: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: row;
    align-items: center;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

.logo{
    width: 100px;
}

.title{
    font-size: 2em;
    margin-left: 1.6rem;
    overflow: visible;
    margin-top: 0.1em;
}

.description{
    font-size: 1.4vw;
    color: black;
    padding: 0rem;
    overflow: hidden;
    text-align: left;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 115%;
    margin-right: 5vw;
    border-top: transparent;
    border-left: transparent;
    padding: 0.5rem;
    margin-left: 1rem;
}

.descriptionBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    max-width: 8em;
    margin-right: 2vw;
}

@media (max-width:648px){
    .BigCard{
        display: none;
    }
}