.Experimental{
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-self:center;
    width: 80vw;
    height: 25vh;
    margin-bottom: 5rem;
    flex-direction: row-reverse;
    padding-left: 1rem;
    border: 10px solid rgb(64, 152, 219);
    border-bottom-color: transparent;
    border-right-color: transparent;
    overflow:visible
}

.title{
    font-size: 4em;
    color: rgb(0, 2, 36);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textVals{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

.image{
    height: 90%;
    margin-top: 1.7rem;
}

.description{
    font-size: 1.5em;
    margin-bottom: 30px;
    overflow: visible;
}

@media(max-width:648px){
    .Experimental{
        transform: scale(0.5);
        width: 80vw !important;
        transform: scale(0) !important;
        transform: translateX(0) !important;
        height: 20em;
        margin: 0;
        border-width: 6px;
        margin-top: 2em;
    }
    .title{
        font-size: 6vw;
        overflow:visible ;
        margin: 0 !important;
    }
    .description{
        font-size: 4.5vw;
        overflow:visible;
        margin: 0 !important;
    }
    .image{
        max-width: 40%;
        max-height: 40%;
        margin: 0 !important;
        transform: translateY(20%);
        border-radius: 1rem !important;
        transform: translateY(50%);
    }
}