.container {
    padding: 20px;
    display: flex;
    justify-content: center; /* Center the table horizontally */
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.heading {
    color: #000080; /* Darkish Navy blue color */
    text-align: center; /* Center align the heading */
}

.tableWrapper {
    width: 100%;
    overflow-x: auto; /* Ensure horizontal scrolling */
    display: block; /* Use block to avoid flex issues */
    margin-bottom: 8%;
}

.flexTable {
    display: table;
    width: 100%; /* Ensure table takes full width */
    border-collapse: collapse;
    min-width: 600px; /* Maintain minimum width for table content */
}

.flexRow {
    display: table-row;
}

/* Added word-wrap and word-break properties to ensure text wraps within the cell width */
.flexCell {
    display: table-cell;
    padding: 10px;
    border: none; /* Remove borders */
    border-right: 2px solid #f2f2f2;
    word-wrap: break-word; /* Allow text to wrap within the cell */
    word-break: break-word; /* Break long words if necessary */
    white-space: normal; /* Ensure text wraps to the next line */
}

.header {
    background-color: #c6e4ff;
    font-weight: bold;
}

.titleHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.serialNumber {
    width: 50px; /* Adjust the width as needed */
    border-right: 2px solid #f2f2f2; /* Remove borders */
}

.alternateRow {
    background-color: #f2f2f2; /* Match the background color of the header */
}



@media (max-width: 600px) {
    .container {
        width: 100%; /* Ensure container takes full width on smaller screens */
        padding: 10px; /* Add padding for better spacing */
    }
    .tableWrapper {
        overflow-x: auto; /* Ensure horizontal scrolling for smaller screens */
        padding: 0 10px; /* Add horizontal padding to prevent cutting */
    }
    .flexTable {
        width: 100%; /* Ensure table takes full width within the container */
        min-width: 600px; /* Maintain minimum width for table content */
    }
}

@media (min-width: 600px) {
    .container {
        width: 70%; /* Ensure container takes full width on smaller screens */
        padding: 10px; /* Add padding for better spacing */
    }
}


