.homeCarousel{
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    z-index: -10;
}

.carouselImages{
    width: 100vw;
    height: 80vh;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 400ms ease-in-out;
    overflow: hidden;
    z-index: -15;
}

@media(max-width: 648px){
    .carouselImages{
        height: 60vh;
        object-fit: cover;
    }
}