.bgScroller {
    width: 100%;
    height: 43vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), url("/carousel_images/img_2.jpg")
  }
  
  .image {
    height: 110vh;
    width: 110vw;
    will-change: transform; /* Hint for performance */
  }

  .values{
    color: rgb(255, 255, 255);
    display: flex;
    position: absolute;
    z-index: 500;
    width: 95vw;
    height: 48vh;
    justify-self: center;
    margin-left: 2.5%;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
    text-align: center;
  }

  #campus{
    font-size: 5vw;
    margin-right: 67%;
    color: yellow;
    border: 10px solid transparent;
    display: block;
    text-shadow: 3px 3px 3px rgb(133, 133, 133);
    margin-top: 6%;
  }

  #description{
    font-size: 100%;
    color:rgb(255, 255, 255);
    margin-left: 7%;
    margin-right: 7%;
    border: 5px solid transparent;
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.586);
    border-radius: 5px;
    margin-bottom: 10%;
  }
@media (max-width:648px){
  .image{
    object-fit: cover;
  }
  #campus{
    text-align: center;
    margin: 0;
    font-size: 12vw;
    overflow: visible;
  }
  #description{
    font-size: 4.5vw;
    overflow: visible;
  }
}
@media (min-width:1000px){
  #campus{
    font-size: 3.5vw;
  }
  #description{
    font-size: 1.7vw;
  }
}