.Experimental{
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-self:center;
    width: 90%;
    height: 12em;
    margin-top: 1vw;
    margin-bottom: 3vw;
    padding-left: 1rem;
    border: 10px solid rgb(64, 152, 219);
    border-top-color: transparent;
    border-left-color: transparent;
    overflow: visible;
}

.title{
    font-size: 2.5vw;
    color: rgb(30, 30, 30);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.textVals{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

.image{
    height: 90%;
    margin-bottom: 0.2rem;
    border-radius: 1rem;
}

.description{
    font-size: 1.5vw;
    margin-bottom: 0px;
    padding-left: 1.5vw;
    font-weight: 100 !important;
    text-align: left !important;
    font-family:sans-serif !important;
}
@media(max-width:648px){
    .Experimental{
        transform: scale(0.5);
        width: 80vw !important;
        transform: scale(0) !important;
        transform: translateX(0) !important;
        height: 20em;
        margin: 0;
        border-width: 6px;
        margin-bottom: 2em;
        transform: translateY(-40px) !important;
    }
    .title{
        font-size: 5.2vw;
        overflow:visible ;
        margin: 0;
        text-align: start;
        margin-top: 20%;
        text-align: center;
    }
    .description{
        font-size: 105%;
        overflow:scroll;
        margin: 0;
        margin-top: -20px;
        font-weight: 200 !important;
        text-align: left !important;
        font-family:sans-serif !important;
    }
    .image{
        max-width: 50%;
        max-height: 40%;
        margin-bottom: 0 !important;
        transform: translateY(100%);
    }
    .textVals{
        padding-left: 1rem;
    }
}