.requestBox{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 70%;
    margin-left: 5px;
    transition: all 1s ease-in-out;
}

.deleteButton{
    width: 7em;
    margin-left: 5px;
    border-radius: 0.5rem;
    background-color: rgb(255, 63, 63);
    color: white;
    cursor: pointer;
    font-weight: 800;
    padding: .2rem;
}

.deleteButton:active{
    transform: scale(0.95);
}