.longCard{
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    height: 20vh;
    width: 70vw;
    background-color: navy;
    align-self: center;
    align-content: center;
    justify-self: center;
    margin-bottom: 5rem;
    margin-top: 3rem;
    border-bottom-right-radius: 2rem;
    align-items: center;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-top-left-radius: 2rem;
    box-shadow: 3px 3px 3px 3px rgb(211, 211, 211);
    overflow: hidden !important;
    transform: scale(1.1);
}

.textBox{
    background-color: rgb(255, 248, 255);
    height: 20vh;
    width: 59.6vw;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 1rem;
    overflow-y: hidden !important;
    
}

.image{
    width: 10vw;
    overflow-y: hidden !important;
}

.author{
    margin-bottom: 1.2rem;
    overflow-y: hidden !important;
}

.authorBox{
    display: flex;
    justify-content: end;
    overflow: hidden !important;
}

.content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden !important;
    height: auto;
}

@media (max-width:648px){
    .longCard{
        display: none;
    }
}