.container {
    display: flex !important;
    justify-self: center !important;
    justify-content: center !important;
    align-self: center !important;
    align-items: center !important; 
    width: 100% !important;
}

.text {
    text-align: center !important;
    transition: opacity 0.2s ease-in-out;
    font-size: 1.4em;
    overflow: hidden;
    z-index: 200;
    color: black;
    font-family: sans-serif;
    text-align: center !important;
    margin-top: 1.5%;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

@media(max-width:648px){
    .text{
        font-size: 2.4vw;
    }
}
