table{
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: -10;
    position: relative;
    font-family: sans-serif;
    width: 50%;
    border-radius: 1rem;


}

td,th{
    padding: 1.8vw;
}

th{
    font-size: 1em;
    background-color: rgba(44, 176, 242, 0.925);
    color: white;

}

tr{
    border-radius: 1rem;
}

tr:nth-child(even){
    background-color: rgb(232, 232, 232);
}


@media (max-width:648px){
    table{
        width: 90%;
    }
    td{
        font-size: 0.9em;
    }
}
